
# ETL con Python: Extracción, Transformación y Carga en PostgreSQL

In [119]:

import pandas as pd
import psycopg2
from sqlalchemy import create_engine


## 1. Extracción de Datos

Cargamos los datos desde el archivo CSV (`movies.csv`) y los almacenamos en un DataFrame de `pandas`.

In [120]:

# Extracción: Cargar datos desde el archivo movies.csv
print("Extrayendo datos del CSV...")
csv_file = "movies.csv"  # Ruta del archivo CSV
df = pd.read_csv(csv_file)
print("Datos extraídos correctamente.")
df.head()  # Muestra las primeras filas para verificar

Extrayendo datos del CSV...
Datos extraídos correctamente.

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               77 non-null     object
 1   Genre              77 non-null     object
 2   Lead Studio        77 non-null     object
 3   Audience score %   77 non-null     int64
 4   Profitability      77 non-null     float64
 5   Rotten Tomatoes %  77 non-null     int64
 6   Worldwide Gross    77 non-null     object
 7   Year               77 non-null     int64
dtypes: float64(1), int64(3), object(4)
memory usage: 4.9+ KB


## 2. Transformación de Datos

En esta sección:
- Convertimos nombres de columnas a minúsculas y reemplazamos espacios por guiones bajos.
- Convertimos columnas con valores monetarios o porcentajes a formato numérico.
- Creamos una tabla separada de géneros para normalizar la estructura.

In [122]:

# Transformación: Limpiar y modificar datos
print("Transformando datos...")

# Convertir nombres de columnas a minúsculas y reemplazar espacios por guiones bajos
df.columns = [col.lower().replace('%' , '').strip().replace(' ', '_') for col in df.columns]

# Convertir columnas de porcentajes a valores numéricos
df['audience_score'] = df['audience_score'].astype(float)
df['rotten_tomatoes'] = df['rotten_tomatoes'].astype(float)

# Convertir valores monetarios en 'worldwide_gross' a valores numéricos
df['worldwide_gross'] = df['worldwide_gross'].replace({'\$': '', ',': ''}, regex=True).astype(float)


df

Transformando datos...

,film,genre,lead_studio,audience_score,profitability,rotten_tomatoes,worldwide_gross,year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70.0,1.747542,64.0,41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52.0,1.090000,68.0,19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35.0,1.211818,43.0,26.66,2010
3,When in Rome,Comedy,Disney,44.0,0.000000,15.0,43.04,2010
4,What Happens in Vegas,Comedy,Fox,72.0,6.267647,28.0,219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84.0,0.652603,54.0,29.37,2007
73,A Serious Man,Drama,Universal,64.0,4.382857,89.0,30.68,2009
74,A Dangerous Method,Drama,Independent,89.0,0.448645,79.0,8.97,2011
75,27 Dresses,Comedy,Fox,71.0,5.343622,40.0,160.31,2008
76,(500) Days of Summer,comedy,Fox,81.0,8.096000,87.0,60.72,2009

In [123]:
#Verificar filas duplicadas por nombre
duplicates = df[df.duplicated(subset='film')]
print("Filas duplicadas:")
duplicates

Filas duplicadas:

,film,genre,lead_studio,audience_score,profitability,rotten_tomatoes,worldwide_gross,year
46,Mamma Mia!,Comedy,Universal,76.0,9.234454,53.0,609.47,2008
65,Gnomeo and Juliet,Animation,Disney,52.0,5.387972,56.0,193.97,2011

In [124]:
duplicate2 = df[df.duplicated(subset=['genre','lead_studio','audience_score','profitability','rotten_tomatoes','worldwide_gross','year'])]
duplicate2

,film,genre,lead_studio,audience_score,profitability,rotten_tomatoes,worldwide_gross,year
26,Sex and the City 2,Comedy,Warner Bros.,49.0,2.883500,15.0,288.35,2010
46,Mamma Mia!,Comedy,Universal,76.0,9.234454,53.0,609.47,2008
65,Gnomeo and Juliet,Animation,Disney,52.0,5.387972,56.0,193.97,2011

In [125]:
#Eliminar columnas duplicadas por el nombre de la película
######   df = df.drop_duplicates(subset='film', keep='last')
# Eliminar columnas por otros valores
df = df.drop_duplicates(subset=['genre','lead_studio','audience_score','profitability','rotten_tomatoes','worldwide_gross','year'] , keep='last')

In [126]:
#verificar nuevamente la duplicidad
duplicates = df[df.duplicated(subset='film')]
print("Filas duplicadas:") 
duplicates

Filas duplicadas:

Empty DataFrame
Columns: [film, genre, lead_studio, audience_score, profitability, rotten_tomatoes, worldwide_gross, year]
Index: []

In [127]:
## hago una copia del dataframe para poder usarla luego
df_snowflake = df.copy()

In [128]:
# Crear la tabla de géneros
print("Creando tabla de géneros")
genres = df[['film', 'genre']].copy()
genres['genre_id'] = genres.index + 1  # Asignar un ID único a cada fila

genres

Creando tabla de géneros

                                  film    genre  genre_id
0           Zack and Miri Make a Porno  Romance         1
1                      Youth in Revolt   Comedy         2
2   You Will Meet a Tall Dark Stranger   Comedy         3
3                         When in Rome   Comedy         4
4                What Happens in Vegas   Comedy         5
..                                 ...      ...       ...
72                 Across the Universe  romance        73
73                       A Serious Man    Drama        74
74                  A Dangerous Method    Drama        75
75                          27 Dresses   Comedy        76
76                (500) Days of Summer   comedy        77

[74 rows x 3 columns]

In [129]:
# Agregar genre_id en la tabla movies 
print("Agregando genre_id en la tabla movies...")
df = df.merge(genres[['film', 'genre_id']], on='film', how='left')

df.head()

Agregando genre_id en la tabla movies...

,film,genre,lead_studio,audience_score,profitability,rotten_tomatoes,worldwide_gross,year,genre_id
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70.0,1.747542,64.0,41.94,2008,1
1,Youth in Revolt,Comedy,The Weinstein Company,52.0,1.090000,68.0,19.62,2010,2
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35.0,1.211818,43.0,26.66,2010,3
3,When in Rome,Comedy,Disney,44.0,0.000000,15.0,43.04,2010,4
4,What Happens in Vegas,Comedy,Fox,72.0,6.267647,28.0,219.37,2008,5


## 3. Carga en PostgreSQL

Usamos `sqlalchemy` para conectarnos a **NeonDB** y cargar las tablas en PostgreSQL.

In [130]:

# Carga: Insertar datos en una base de datos PostgreSQL en NeonDB
print("Cargando datos en la base de datos PostgreSQL...")

TABLE_MOVIES = "movies"
TABLE_GENRES = "genres"

# Crear la conexión con SQLAlchemy
engine = create_engine("postgresql://neondb_owner:npg_16IWrLhUZGvc@ep-bold-firefly-a4eqe1ef-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require")

# Insertar la tabla de géneros con datos repetidos
genres.drop(columns=['film'], inplace=True)
genres.to_sql(TABLE_GENRES, engine, if_exists='replace', index=False)

# Insertar la tabla de películas con genre_id en lugar del nombre del género
#df = df.drop(columns=['genre'])
df.to_sql(TABLE_MOVIES, engine, if_exists='replace', index=False)

print("Datos cargados correctamente.")

Cargando datos en la base de datos PostgreSQL...
Datos cargados correctamente.

# Crear El modelo con copo de nieve

In [136]:
df_snowflake.genre.unique()

array(['Romance', 'Comedy', 'Drama', 'Animation', 'Fantasy', 'Romence',
       'Comdy', 'Action', 'romance', 'comedy'], dtype=object)

In [137]:
df_snowflake.loc[df_snowflake.genre == 'Romence', 'genre'] = 'Romance'
df_snowflake.loc[df_snowflake.genre == 'romance', 'genre'] = 'Romance'
df_snowflake.loc[df_snowflake.genre == 'comedy', 'genre'] = 'Comedy'
df_snowflake.loc[df_snowflake.genre == 'Comdy', 'genre'] = 'Comedy'

In [139]:
df_snowflake.genre.unique()

array(['Romance', 'Comedy', 'Drama', 'Animation', 'Fantasy', 'Action'],
      dtype=object)

In [138]:
# Crear la tabla de géneros y agrupar por genero para quitar duplicados
genres = df_snowflake[['genre']].drop_duplicates().reset_index(drop=True)

genres = pd.DataFrame(genres, columns=['genre'])
genres

       genre
0    Romance
1     Comedy
2      Drama
3  Animation
4    Fantasy
5     Action

In [140]:
genres['genre_id'] = genres.index + 1  # Asignar un ID único a cada fila
genres

       genre  genre_id
0    Romance         1
1     Comedy         2
2      Drama         3
3  Animation         4
4    Fantasy         5
5     Action         6

In [142]:
df_snowflake = df_snowflake.merge(genres, on='genre', how='left')
df_snowflake

,film,genre,lead_studio,audience_score,profitability,rotten_tomatoes,worldwide_gross,year,genre_id
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70.0,1.747542,64.0,41.94,2008,1
1,Youth in Revolt,Comedy,The Weinstein Company,52.0,1.090000,68.0,19.62,2010,2
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35.0,1.211818,43.0,26.66,2010,2
3,When in Rome,Comedy,Disney,44.0,0.000000,15.0,43.04,2010,2
4,What Happens in Vegas,Comedy,Fox,72.0,6.267647,28.0,219.37,2008,2
...,...,...,...,...,...,...,...,...,...
69,Across the Universe,Romance,Independent,84.0,0.652603,54.0,29.37,2007,1
70,A Serious Man,Drama,Universal,64.0,4.382857,89.0,30.68,2009,3
71,A Dangerous Method,Drama,Independent,89.0,0.448645,79.0,8.97,2011,3
72,27 Dresses,Comedy,Fox,71.0,5.343622,40.0,160.31,2008,2
73,(500) Days of Summer,Comedy,Fox,81.0,8.096000,87.0,60.72,2009,2